<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <div class="container">
        <div class="line"></div>
        <div class="line d1"></div>
        <div class="line d2"></div>
        <div class="line d3"></div>
        <div class="line d4"></div>
        <div class="line d5"></div>
        <br>
        <div class="caption">
           <p style='display:inline-block;'>Loading</p>
           <div class="dot">.</div>
           <div class="dot">.</div>
           <div class="dot">.</div>
     
        </div>
     </div>
</body>
</html>